

<body>
  <div id = "content">

    <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
              <img src = "Landing-Page1.png">
            </div>
            <div class="item">
              <img src = "Landing-Page3.png">
            </div>
            <div class="item">
              <img src = "Landing-Page2.png">
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>
  </div>

<br />

<div class = "row info-pane">
  <div class = "col-md-3">
  </div>
  <div class = "col-md-6" id = "info">

    <p id = "hearMore"><strong>Interested in hearing more?</strong></p>
    <p id = "underline"></p>
    <%= form_tag :emails %>
      <%=  text_area(:email, :body, placeholder: "Location", class: "form-control") %>
      <br />
      <%=  email_field(:email, :from, placeholder: "Email", class: "form-control") %> 
      <br />
      <%= submit_tag "Send it", class: "btn form-control btn-primary" %>

    <p class = "home-copy">
      <span style = "color:black">There are two things that are trending right now. One is the desire to be more connected with friends and family. The other is more collaborative work spaces. Phlick is an app that shares any media instantly within a group. It's also a simple file viewer to make meetings paperless and hassle-free, keeping everyone quite literally on the same page. It stops the huddling around one single device allowing for simple media sharing to enhance quality of life and interactive collaboration.</span>
    </p>
    <h1 id = "marginBottom"></h1>
  </div>
  <div class = "col-md-3">
  </div>

</div>

<br />

<div id = "footer">
</div>